@tailwind base;
@tailwind components;
@tailwind utilities;

/* Montserrat font */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap");

@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// global base variables
@layer base {
  :root {
    --text-color: #666;
    --header-footer-height: 50px;
  }
}

html {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
}

header,
footer {
  height: var(--header-footer-height);
}

html,
body {
  // make app full
  min-height: 100vh;
}

main {
  // sets the minimum height of the main content area to the height of the viewport minus twice the height of the header and footer
  min-height: calc(100vh - var(--header-footer-height) * 2);
  overflow-y: auto;
}

h1,
h2 {
  // apply tailwind class
  @apply font-bold;
}
