.formContainer {
  form {
    .inlineForm {
      background-color: rgba(255, 255, 255, 0.9);

      input,
      .select {
        color: var(--text-color);
      }
    }

    // .error {
    //   font-size: 28px;
    //   line-height: 1.5;
    // }
  }

  .submit {
    // group tailwind classes to use on multiple submit components
    @apply w-full max-w-xs py-3 rounded-2xl cursor-pointer font-bold disabled:pointer-events-none focus:outline-blue-400;
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--text-color);

    // on hover make button bigger and solid
    &:hover {
      background-color: rgba(255, 255, 255, 1);
      transform: scale(1.02);
      transition: all 0.1s;
    }

    // on loading make button solid
    &.loading {
      background-color: rgba(255, 255, 255, 1);
    }

    // on disable darken button
    &:disabled {
      background-color: darken(rgba(255, 255, 255, 1), 10%);
    }
  }

  // larger screens
  @media screen and (min-width: 820px) {
    width: 95%;

    .inlineForm {
      div {
        .age {
          max-width: 300px;
        }

        .genre {
          max-width: 350px;
        }
      }
    }
  }
}
